/* Global Elements */
.charsheet {
	font-size: 13px;
	line-height: 1.5em;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
}
/* Reset all roll buttons to use the D10 dice instead of the D20 Dice */
/* The font is called "dicefontd10" and it is unique to r20 for their layout */
/* The default font family is called "dicefontd20" which has the icon shape of a 20-sided dice */
/* See https://wiki.roll20.net/CSS#Icon_Fonts for more details */

button[type="roll"]:before {
	font-family: "dicefontd10" !important;
	font-size: 1.7em;
	content: "k" !important;
}
button.sheet-quickroll:before {/* Overides the icon so text can be displayed within instead */
	content: "" !important;
	font-size:0.75em;
    display: none;
}
@font-face {
	/* Font from: https://fontlibrary.org/en/font/rufscript */
	font-family: "RufscriptRegular";
	src: url("http://openfontlibrary.org/assets/fonts/rufscript/92112519f91e7a5ab80261a017c09b72/f886671cdc88e2725676a457e14e8512/RufscriptRegular.ttf");
}
input[type="text"],
input[type="number"] {
	width: 90%;
	padding-left: 0.4em;
	padding-bottom: 0em;
	margin-bottom: 0px;
  
	font-family: Sans-serif;
	line-height: 1.5em;

	border: 0px solid #666;
	border-bottom-width: 1px;
	border-radius: 3px;
}
/* The dotted line for lists to simulate notepad paper or a text area */
label.sheet-dottedlabel {margin-bottom: -1.3em;} /* used to counter the default label element margin */
input[type="text"].sheet-dottedline:focus, input[type="number"].sheet-dottedline:focus {
	outline: none;
	line-height: 1em;
}
input[type="text"].sheet-dottedline, input[type="number"].sheet-dottedline {
	border: none;
	border-bottom: 2px dotted #c9c9c9;
	width: 220px;
	margin: 1px;
	line-height: 0px;
}
textarea, select, .sheet-uneditable-input {
	margin-bottom: 0px; /* Override default margin */
}
.sheet-skAttrSz {
	width: 7em;
	height: 3.5vh;
	
	font-family: sans-serif;
	font-size: 1.3vh;
	
	border: 1px solid black;
	border-radius: 6px;
	margin-bottom: -1px;
}
.sheet-optionsDropdown {
	height: 50%;
	width: 95%;
	
	font-size: .7em;
	line-height: .9em;
	
	border: 1px solid black;
	border-radius: 0px;
	
	box-sizing: content-box;
	padding-bottom: .5em;
}

.sheet-3dig {width: 2.2em !important; min-width: 2.2em !important; padding-right: 0.30em !important;}
.sheet-2dig {width: 3em !important; min-width: 2.95em !important; padding: 0em;}
.sheet-textEnd {text-align: end; !important;}
input.sheet-specialize {width: 4em;}
/* Hide actual dot/checkbox */
input.sheet-hd[type="radio"],
input.sheet-hd[type="checkbox"],
div.sheet-repeating-container input.sheet-hd[type="radio"],
div.sheet-repeating-container input.sheet-hd[type="checkbox"] {
    /*position: absolute;
    opacity: 0;
    width: 15px;
    cursor: pointer;
    z-index: 1;
    margin-top: 6px; Old Code... A Dead-End.*/

    opacity: 0;
    width: 10px;
    height: 14px;
    position: relative;
    top: 5px;
    left: 4px;
    margin-right: -8px;
    cursor: pointer;
    z-index: 1;
}
div.sheet-griddicepool input.sheet-hd[type="radio"],
div.sheet-griddicepool input.sheet-hd[type="checkbox"] {
	position: unset !important;
}
/* Fake Checkbox */
/* Styles common to fake dot and checkbox */
input.sheet-noshow { display: none !important;}
input.sheet-hd[type="radio"] + span::before,
input.sheet-hd[type="checkbox"] + span::before,
div.sheet-repeating-container input.sheet-hd[type="radio"] + span::before,
div.sheet-repeating-container input.sheet-hd[type="checkbox"] + span::before {
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
	font-style: normal;
	font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}
/* Hides Fake Checkbox above 5dots if option not selected. */
.sheet-610-attr:not(:checked)   ~ input.sheet-show-10d-attr.sheet-hd[type="radio"] + span::before,
.sheet-610-bgs:not(:checked)    ~ input.sheet-show-10d-bgs.sheet-hd[type="radio"] + span::before,
.sheet-610-skills:not(:checked) ~ input.sheet-show-10d-skills.sheet-hd[type="radio"] + span::before,
.sheet-610-spheres:not(:checked) ~ input.sheet-show-10d-spheres.sheet-hd[type="radio"] + span::before {
	display: none;
}
.sheet-610-attr:checked ~ .sheet-show-10d-attr.sheet-hd,
.sheet-610-bgs:checked ~ .sheet-show-10d-bgs.sheet-hd,
.sheet-610-skills:checked ~ .sheet-show-10d-skills.sheet-hd,
.sheet-610-spheres:checked ~ .sheet-show-10d-spheres.sheet-hd {
    display: inline;
}

/* Styles unique to fake dot (checked or left of checked) */
input.sheet-hd[type="radio"] + span::before,
div.sheet-repeating-container input.sheet-hd[type="radio"] + span::before
 { 
    content: "•";
    width: 11px;
    height: 12px;
    font-size: 31px;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
input.sheet-square[type="radio"] + span::before,
div.sheet-repeating-container input.sheet-square[type="radio"] + span::before {
	font-family: "Pictos" !important;
    content: "6"; /* Media Button: Stop (a giant square) */
    width: 11px;
    height: 12px;
    font-size: 13px;
	
	-moz-border-radius: 0% !important;
	-webkit-border-radius: 0% !important;
	border-radius: 0% !important;
}
.sheet-H1renownLabel {
    display: block;
    font: 1em RufscriptRegular;
    letter-spacing: .1em;
    width: 95%;
    height: 1.5em !important;
    margin: 1% 2% 5% auto;
    padding: 6px 0 0 0;
    font-weight: bold;
    text-align: center;
    border: 1px solid #000000;
}
.sheet-H1renownLabel::placeholder {
	color: gray;
}
/* Styles unique to fake checkbox (unchecked) */
input.sheet-hd[type="checkbox"] + span::before,
div.sheet-repeating-container input.sheet-hd[type="checkbox"] + span::before {
    position:relative;
    content: "";
    opacity: .25;
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* Styles unique to fake checkbox (checked) */
input.sheet-hd.sheet-zero[type="checkbox"]:checked + span::before,
div.sheet-repeating-container input.sheet-hd.sheet-zero[type="checkbox"]:checked + span::before {
    content: "✖";
    color: #a00;
    
    -moz-box-shadow: 0 0 2px transparent;
    -webkit-box-shadow: 0 0 2px transparent;
    box-shadow: 0 0 2px transparent;
}

/* Remove dot from all radios _after_ selected one */
input.sheet-hd[type="radio"]:checked ~ input.sheet-hd[type="radio"] + span::before,
div.sheet-repeating-container input.sheet-hd[type="radio"]:checked ~ div.sheet-repeating-container input.sheet-hd[type="radio"] + span::before {    
    content: "";
}

input.sheet-hd.sheet-used+span::before,
div.sheet-repeating-container input.sheet-hd.sheet-used+span::before {
    content: "✖";
    width: 12px;
    height: 12px;
    font-size: 12px;
    
    -moz-border-radius: 0%;
    -webkit-border-radius: 0%;
    border-radius: 0%;
}

input.sheet-hd.sheet-zero:checked + span::before,
div.sheet-repeating-container input.sheet-hd.sheet-zero:checked + span::before { 
	opacity: 0;
}
input.sheet-hd.sheet-zero:hover + span::before { opacity: 1;}

input.sheet-hd.sheet-zero + span::before,
div.sheet-repeating-container input.sheet-hd.sheet-zero + span::before
 {
    font-size: 12px;
    content: "✖";
    opacity: 0.25;
}
label {
  font-family: RufscriptRegular;
  line-height: 1.3em;
  margin-bottom: -0.3em;
}
label.sheet-ability-optGroup1 {
	text-align: center;
	font-size: 1em;
	border: 1px solid black;
	padding-top: 2vh;
	padding-left: 1.4vh;
}
label.sheet-ability-optGroup2 {
	text-align: center;
	font-size: 1em;
	border: 1px solid black;
	padding-top: 1.2vh;
	padding-bottom: .1vh;
	padding-left: .4vh;
	padding-right: .4vh;
}
/* Config Section Hidden Checkbox Option Items */
.charsheet .sheet-boldlabel-check:checked + b:not(.sheet-offCase), .charsheet .sheet-condition-exists:checked + label {
    background-color: #4a6486;
	width: 200px;
    color: White;
    border-radius: 10px;
}
.charsheet .sheet-boldlabel-check + b:not(.sheet-offCase), .charsheet .sheet-condition-exists + label, .charsheet .sheet-status-panel  label b {
/* A delicate balance is required to keep a thin line between the options.  Otherwise it becomes hard to see each unique option element */
    display: inline-grid;
	margin: 3px 0;
    padding: 5px 5px 3px 5px;
    font-size: 12px;
	letter-spacing: 1.4px;
    line-height: 2.3vh;
}

/* Section Level Elements */
div.sheet-PreNav {
  border: 1px solid black;
  display: flex;
  align-items: center;
}
div.sheet-sectionHeader {
  /* Uses H1 style by default, making h1 tag unnessisary */
  display: block;
  font: 2em RufscriptRegular;

  margin: 0.67em 0em;
  padding: 0.3em 0 0em;
  font-weight: bold;
  text-align: center;

  border: 1px solid #000000;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  background: linear-gradient(180deg, LightGrey 60%, white);
}
div.sheet-sectHeadCntr {
  display: block;
  width: calc(98% - 1em); /* How to make this based on parent width */
  margin-top: -1.4em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background: LightGray;
}
div.sheet-sectHeadCntr ul {
  display: flex;
  list-style-type: none;

  /* Border removed; border details within container DIV */
  margin: -5px;
  padding: 0px;
  background: transparent;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
li {
  margin: .5em 0em .5em 0em;
}

div.sheet-triColumn {
  display: flex;
}
div.sheet-columns {
  margin: 0px;
  padding: 0px;

  border: 1px solid black;

  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
div.sheet-columns ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  margin: 0px;
  padding: 0px;
  background: transparent;
}
div.sheet-columns ul li {
	/* possibly change font size to 1.5vh */
  flex: 1;
  border: 1px solid black;
}
.sheet-border { /* Bounding Box for tri-column elements. */
	border: 1px solid black;
	border-bottom: 4px solid black !important;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px
}
li.sheet-dicepool { /* Prevent more than 5 dots per line.                       */
	max-width: 8em; /* 8em is the minimum for chromium browsers.  Firefox requires 9em or it displays poorly. I cannot find a workaround.  */
	min-width: 8em; /* */
}                   /* Unfortunately this causes issues as the min/max with is very specific with this element */
/* Dice section redone as grid */
li.sheet-griddicepool {
    display: grid;
	border: 0px;
    grid-template-columns: repeat(12,auto);
    grid-template-rows: repeat(2,auto);
    gap: 0px; /*gap between columns and rows*/
}

.sheet-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
	border-top: 3px red solid;
}
.sheet-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 3px;
	border-top: 3px red solid;
}
.sheet-gRollLabel {grid-column: span 2 / auto; border: 1px solid black;}
.sheet-gRollSpec {grid-column: span 2 / auto; border: 1px solid black;}

.sheet-span-row-2{grid-row: span 2 / auto; border: 1px solid black;}
/* ********************************** End of Grid Code */
li.sheet-aretepool {
	width: 50%;
	margin: 0 auto;
	min-width: 17em;
	max-width: 16em !important;
	/* margin: .2em .5em -0.2em .5em !important; */
}
div.sheet-abilBuffs {
	display: flex;
	border: 1px dotted black;
}
.sheet-hasLabelBelow {
	border-bottom: 0px !important;
}
.sheet-labelForAbove {
	border-top: 0px !important;
	margin: -9px 3px 2px 2px !important;
	padding: 0px !important;
	
	font-family: "RufscriptRegular";
	font-size: .9em;
	text-align: center;
	letter-spacing: 1px;	
}
h1.sheet-columnHeader {
  /* Uses H1 style by default, making h1 tag unnessisary */
  font-size: 1.5em;
  font-family: "RufscriptRegular";

  margin: 0em auto 0.2em auto;
  padding: 0.3em;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  text-align: center;

  border: 1px solid #000000;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  background: linear-gradient(180deg, LightGrey 60%, white);
}
h3.sheet-subHeader {
	display: block;
	font-size: 1.17em;
	margin-top: 0em;
	margin-bottom: -0.7em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
/* Layout Elements */
label.sheet-smlabel {
  text-align: center;
}
label.sheet-poolLabel {
	display: inline;
}
label.sheet-smlabel span,
label.sheet-poolLabel span {
  font-size: 0.7em;
}
span[title] {
  cursor: help;
}
/* Width Elements */

/* Button Styles */
button.sheet-Pictos {
  /* Section Control Buttons */
  font-size: 1em;
  font-family: "Pictos" !important;
  font-weight: bold;

  border-radius: 5px;
  background-color: white;
  text-align: center;
}
/* CSS Buttons (SheetWorkers) */
.sheet-swbutton {
	height: 1em !important;
	width: 1em !important;
	padding: .4em;
	
	font-family: "Pictos" !important;
	font-size: 1.3em;
	
	border: 1px solid black;
	border-radius: 5px;
}
/* CSS Button Styles (No SheetWorkers) */
.sheet-cssbutton, .sheet-showarrow, .sheet-ack-button,
.sheet-refreshbutton, .sheet-split-column-show, .sheet-lock-show , .sheet-counted {
	opacity: 0; position: relative; top: 0; left: 13px; cursor: pointer; z-index: 5;
}
.sheet-cssbutton,
.sheet-refreshbutton,
.sheet-configbutton {
    margin-right: 15px; /* -1.5rem */
}
input.sheet-cssbutton, input.sheet-showarrow, input.sheet-ack-button,
input.sheet-refreshbutton, input.sheet-split-column-show, input.sheet-lock-show , input.sheet-counted {
	height: 1.6em;
}
.sheet-cssbutton + span::before {
    display: inline-block;
    font-size: 1.2em;
	margin-left: -20px;
	padding: .1em;
	font-weight: bold;
    border-radius: 5px;
    border: 1px solid #808080;
	background-color: #FFFFFF;
	color:Black;
	text-align:center;
	font-style:normal !important;
	width: 24px !important;  /* 1.4 rem */
	height: 24px !important; /* 1.4 rem */
	box-sizing: border-box;
}
.sheet-minimize-show:checked ~ .sheet-lock-show + span::before,
.sheet-cssbutton:checked + span::before {
	background-color: #4a6486;
	color: #DDDDDD;
}
.sheet-minimize-show  + span::before,
.sheet-collapse-show + span::before {
	font-family: "Pictos" !important;
	content: '_';
}
.sheet-help-show + span:before {
	font-family: "Pictos" !important;
	content: "?";
}
.sheet-minimize-show:checked + span::before,
.sheet-collapse-show:checked + span::before {
	font-family: Arial, Sans-serif !important;
	content: '☐';
}
/* Navigational Buttons and Config Buttons */
/* Show/Hide Content for the selected navigational Tab */
.sheet-core,
.sheet-combat,
.sheet-abilities,
.sheet-advantages,
.sheet-details,
.sheet-biography,
.sheet-config {
	display: none;
}

.sheet-tabstoggle[value="core"] ~ div.sheet-core,
.sheet-tabstoggle[value="combat"] ~ div.sheet-combat,
.sheet-tabstoggle[value="abilities"] ~ div.sheet-abilities,
.sheet-tabstoggle[value="advantages"] ~ div.sheet-advantages,
.sheet-tabstoggle[value="biography"] ~ div.sheet-biography,
.sheet-tabstoggle[value="details"] ~ div.sheet-details,
.sheet-tabstoggle[value="config"] ~ div.sheet-config {
	display: block;
}
button.sheet-button-tab {
  background: #4a6486;
  color: white;
  height: 1.2em;
  cursor: pointer;

  padding: 0.6em 0.3em 0.1em 0.3em;
  white-space: nowrap;
  border-radius: 7px 7px 0px 0px;

  font-family: Arial;
  font-weight: bold;
}
.sheet-collapse-button {
	width: 93%;
	border-radius: 30px;
	font-family: "RufscriptRegular";
	height: 1em;
	font-size: .9em;
	padding-bottom: .2em;
}
input[name*="collapse-flag"][value="0"] + .sheet-collapse-details {
    display: none;
}
div.sheet-flexwrap {display: flex;}

/* Adds show/hide functionality */
div.sheet-race-mage, div.sheet-race-mage-block, div.sheet-race-mage-grid,
div.sheet-race-werewolf, div.sheet-race-werewolf-block, div.sheet-race-werewolf-grid,
div.sheet-race-vampire, div.sheet-race-kueijin, div.sheet-race-vampire-block, div.sheet-race-kueijin-block, div.sheet-race-vampire-grid, div.sheet-race-kueijin-grid,
div.sheet-race-changeling, div.sheet-race-shen, div.sheet-race-changeling-block, div.sheet-race-shen-block, div.sheet-race-changeling-grid, div.sheet-race-shen-grid,
div.sheet-race-mummy, div.sheet-race-mummy-block, div.sheet-race-mummy-grid,
div.sheet-race-hunter, div.sheet-race-hunter-block, div.sheet-race-hunter-grid,
div.sheet-race-bygone, div.sheet-race-bygone-block, div.sheet-race-bygone-grid,
input.sheet-show-10d-attr.sheet-hd,
input.sheet-show-10d-bgs.sheet-hd,
input.sheet-show-10d-skills.sheet-hd {
  display: none;
}
/* show/hide as flex */
.sheet-race-type-werewolf:checked ~ div.sheet-race-werewolf,
.sheet-race-type-mage:checked ~ .sheet-race-mage,
.sheet-race-type-vampire:checked ~ div.sheet-race-vampire,
.sheet-race-type-kueijin:checked ~ div.sheet-race-kueijin,
.sheet-race-type-changeling:checked ~ div.sheet-race-changeling,
.sheet-race-type-shen:checked ~ div.sheet-race-shen,
.sheet-race-type-mummy:checked ~ div.sheet-race-mummy,
.sheet-race-type-hunter:checked ~ div.sheet-race-hunter,
.sheet-race-type-bygone:checked ~ div.sheet-race-bygone {
    display: flex;
}
/* show/hide as block */
.sheet-race-type-werewolf:checked ~ div.sheet-race-werewolf-block,
.sheet-race-type-mage:checked ~ .sheet-race-mage-block,
.sheet-race-type-vampire:checked ~ div.sheet-race-vampire-block,
.sheet-race-type-kueijin:checked ~ div.sheet-race-kueijin-block,
.sheet-race-type-changeling:checked ~ div.sheet-race-changeling-block,
.sheet-race-type-shen:checked ~ div.sheet-race-shen-block,
.sheet-race-type-mummy:checked ~ div.sheet-race-mummy-block,
.sheet-race-type-hunter:checked ~ div.sheet-race-hunter-block,
.sheet-race-type-bygone:checked ~ div.sheet-race-bygone-block {
    display: block;
}

/* show/hide as grid */
.sheet-race-type-werewolf:checked ~ div.sheet-race-werewolf-grid,
.sheet-race-type-mage:checked ~ .sheet-race-mage-grid,
.sheet-race-type-vampire:checked ~ div.sheet-race-vampire-grid,
.sheet-race-type-kueijin:checked ~ div.sheet-race-kueijin-grid,
.sheet-race-type-changeling:checked ~ div.sheet-race-changeling-grid,
.sheet-race-type-shen:checked ~ div.sheet-race-shen-grid,
.sheet-race-type-mummy:checked ~ div.sheet-race-mummy-grid,
.sheet-race-type-hunter:checked ~ div.sheet-race-hunter-grid,
.sheet-race-type-bygone:checked ~ div.sheet-race-bygone-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
	border-top: 3px red solid;
}

/* Show/Hide Sections */
.sheet-collapse-show:checked ~ .sheet-collapse-details {
    display: none;
}

/* Table Formatting */
.sheet-table {display: table; width: 100%;}
.sheet-table-name {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
    width: 100%;
}

.sheet-table-row {
    display: table-row;
    vertical-align: bottom;
    width: 100%;    
}

.sheet-tdcs { /*Table Data Center Small*/
    display:table-cell;
    text-align:center;
    font-size: 100%;
    vertical-align: middle;
    position: relative;
	white-space: nowrap;
}
.sheet-tdls { /*Table Data left Small*/
    display:table-cell;
    text-align:left;
    font-size: 100%;
    vertical-align: middle;
    position: relative;
	white-space: nowrap;
}

.sheet-table-cell {
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	padding-left:.125em;
	padding-right:.125em;
	padding-bottom:.125em;
}
.sheet-tcsl {
	display: table-cell;
	vertical-align: middle;
	padding-left: .125em;
	padding-right: .125em;
	padding-bottom: .125em;
	font-size: 85%!important;
	font-style: italic;
	font-weight: bold;
	color: black;
	text-align: center;
	
}
.sheet-tcsl input {
	font-style: normal;	
}

.sheet-header-row {	margin-bottom:.5em;}

.sheet-table-name, .sheet-nontable-name {
	text-align: center;
	font-weight: bold;
	color:White;
	background-color:Black;
	width: 100%;
}

.sheet-table-name {
	display: table-caption;
	caption-side:top;
}

.sheet-nontable-name {
	display: block;
}

h2,h3,h4,h5,h6,
.sheet-table-name,
.sheet-table-header {
	font-family: Arial, sans-serif;
	font-size: 13px; /*BUGGED */
}
input.sheet-bigCheck {
	height: 2em;
	width: 2em;
}
.sheet-table-cell span[title],  .sheet-table-header[title], .sheet-small-label2 span[title] {
	cursor: help;
}
/* Sheet Options Config Table Formatting */
.sheet-options {
	width:98% !important; /* Original Width: 98.6% */
	padding: 2px 0 2px 5px;
	border: 1px solid #808080;
	border-radius: 5px;
	background-color:Gainsboro;
}

.sheet-options.sheet-table.sheet-named {
	border-top-left-radius:0;
	border-top-right-radius:0;
}
.sheet-options.sheet-table.sheet-named .sheet-table-name  {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.sheet-nontable-repeating .sheet-options span {
	margin-right:2em;
	display:inline-block;
}
/* Dimensions and alignment shorthand */
.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align: center;}
.align-justify {text-align: justify;}

.w20p {width: 20%;}
.w25p {width: 25%;}
.w50p {width: 50%;}
.w93p {width: 93%;}

/* Repeating Section Styles */
.charsheet .repcontainer .repitem {
	padding: 0px 5px;
	border-radius: 10px;
	margin: 1px 5px;
	min-width: 20em; /* Prevents contents from clippling through borders */
	background-color: #d3d3d3;
	border: 1px solid black;
}
div.sheet-repeating-container {
	/* border: 1px solid black;     Hidden because it was incorrectly coded
	padding: 0px 5px;
	border-radius: 10px;
	background-color: #d3d3d3; */
	min-width: 20em !important; /* REQUIRED! Without this the rep-container border and background could be compressed more than the fields contained within.  Making it unreadable. */
}
/* Small Label #2 */
.sheet-sml2 {
    display: inline-flex;
    margin: 0em;
	padding: 4px 0px;
	/* Text style for repeating field labels */
	text-align: center;
	font-size: 1em;
	line-height: 1.7em;
	letter-spacing: 1.5px;
}
.charsheet div.sheet-repeating-container input.sheet-hd[type="radio"] {
  display: inline-flex;
}
.charsheet div.sheet-repeating-container input[type="text"] {
  width: unset;
}
.charsheet button.sheet-rep-rbtn { /* Repeating Section Roll Button Style */
    border: 0 solid black; /* Not strictly required, included for style testing */
    width: 70%;
	height: 90%;
    padding: .1em !important;
}
div.sheet-repeating-container ul {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center !important; /* Forces center aligned text for label text */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background: transparent;
}
div.sheet-repeating-container ul li {
    margin: 0.2em;
    padding: 0.2em;
    flex: 1;
    border: 1px solid black;
}

div.sheet-repeating-container li.sheet-dicepool {
	min-width: 18em;
}
div.sheet-repeating-container .sheet-collapse-button {
	width: 93%; /* Interacts with margin-left to create the illusion of centering */
	border-radius: 30px;
	font-family: "RufscriptRegular";
	height: 1em;
	font-size: .7em;
	padding-bottom: .6em;
	margin-left: 2%; /* Interacts with the width to create the illusion of centering */
}
div.sheet-repeating-container div.sheet-abilBuffs {
	display: flex;
	border: 1px dotted black;
	padding: .3em;
	margin-left: 1%;
	width: 97.4%;
}
.sheet-inflex {display: inline-flex;}
.sheet-SkPoolLabel {
	font-family: "RufscriptRegular";
	font-size: .9em;
	padding: revert;
	margin: 0em;
	margin-bottom: -.3em;
}
.sheet-rep-skAttrSz {
    width: auto;
    height: auto;
    font-family: sans-serif;
    font-size: .9em;
    border: 1px solid black;
    border-radius: 6px;
    margin: 0px;
}
/* Togglable Health Levels Code */
/* -----Health boxes----- */
table.sheet-damagetrack td {
    margin-bottom: 5px;
}
div.sheet-healthbox {
    width: 20px;
    height: 20px;
    position: relative;
    margin-bottom: 10px;
}

input.sheet-healthbox {
    margin: 0 0 0 0;
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
}

span.sheet-healthbox {
    margin:  0 0 0 0;
    display: none;
}

input.sheet-blackdot { 
    z-index: 2; 
}

input.sheet-blackdot:checked + input.sheet-whitedot,
input.sheet-whitedot:checked + input.sheet-bashingdot,
input.sheet-bashingdot:checked + input.sheet-lethaldot,
input.sheet-lethaldot:checked + input.sheet-aggravateddot { 
    z-index: 3; 
}

input.sheet-blackdot:checked ~ span.sheet-blackdot,
input.sheet-whitedot:checked ~ span.sheet-whitedot,
input.sheet-bashingdot:checked ~ span.sheet-bashingdot, 
input.sheet-lethaldot:checked ~ span.sheet-lethaldot,
input.sheet-aggravateddot:checked ~ span.sheet-aggravateddot { 
    display: inline-block; 
}

.sheet-blackdot { /* Height and width reduced by 1px from the healthbox, this is required otherwise it will act strange. */
    width: 19px;
    height: 19px;
    background: black;
    background-size: 100%;
    /*  border-radius: 50%; */
}

.sheet-whitedot {
    width: 15px;
    height: 15px;
    background: white;
    background-size: 100%;
    /*  border-radius: 50%; */
    border:2px solid black;
}

.sheet-bashingdot {
    width: 15px;
    height: 15px;
    background: transparent;
    background-size: 100%;
    /*  border-radius: 50%; */
    border:2px solid black;
    color:black;
}
.sheet-blankdot {opacity: 0;}	/* Blank Dot Style is used as a spacer for 10-dot showhide sections on full-width displays */
.sheet-bashingdot:before {
    font-family: "Candal", fantasy;
    content:"/";
    font-weight: 900;
    font-size: 23px;
	/* line-height: 0px; */
    margin-right: 4px;
}

.sheet-lethaldot {
    width: 15px;
    height: 15px;
    background: transparent;
    background-size: 100%;
    /*  border-radius: 50%; */
    border:2px solid black;
    color:black;
}
.sheet-lethaldot:before {
    font-family: "Candal", fantasy;
    content:"X";
    font-weight: 900;
    font-size: 23px;
	/* line-height: 0px; */
    margin-left:0px;
}

.sheet-aggravateddot {
    width: 15px;
    height: 15px;
    background: transparent;
    background-size: 100%;
    /*  border-radius: 50%; */
    border:2px solid black;
}
.sheet-aggravateddot:before {
    font-family: "Candal", fantasy;
    content:"X";
    font-weight: 900;
    font-size: 23px;
	/* line-height: 0px; */
    color:red;
}