/* Global Elements */
.charsheet {
	font-size: 13px;
	line-height: 1.5em;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
}
/* Reset all roll buttons to use the D10 dice instead of the D20 Dice */
/* The font is called "dicefontd10" and it is unique to r20 for their layout */
/* The default font family is called "dicefontd20" which has the icon shape of a 20-sided dice */
/* See https://wiki.roll20.net/CSS#Icon_Fonts for more details */

/* Generic Styles */
.sheet-invis   {opacity: 0%; !important}
.sheet-left    {text-align: left !important;    text-align: -webkit-left !important;}
.sheet-center  {text-align: center !important;  text-align: -webkit-center !important;}
.sheet-justify {text-align: justify !important; text-align: -webkit-justify !important;}
.sheet-right   {text-align: right !important;   text-align: -webkit-right !important;}

.sheet-w100p   {width : 99% !important}
.sheet-h100p   {height: 99% !important}
.sheet-w50p    {width : 50% !important}
.sheet-h50p    {height: 50% !important}

.sheet-fontRufScript {font-familiy: "RufscriptRegular";}

button[type="roll"]:before {
	font-family: "dicefontd10" !important;
	font-size: 1.7em;
	content: "k" !important;
}
button.sheet-quickroll:before {/* Overides the icon so text can be displayed within instead */
	content: "" !important;
	font-size:0.75em;
    display: none;
}
@font-face {
	/* Font from: https://fontlibrary.org/en/font/rufscript */
	font-family: "RufscriptRegular";
	src: url("http://openfontlibrary.org/assets/fonts/rufscript/92112519f91e7a5ab80261a017c09b72/f886671cdc88e2725676a457e14e8512/RufscriptRegular.ttf");
}
input[type="text"],
input[type="number"] {
	width: 90%;
	padding-left: 0.4em;
	padding-bottom: 0em;
	margin-bottom: 0px;
  
	font-family: Sans-serif;
	line-height: 1.5em;

	border: 0px solid #666;
	border-bottom-width: 1px;
	border-radius: 3px;
}
/* The dotted line for lists to simulate notepad paper or a text area */
label.sheet-dottedlabel {margin-bottom: -1.3em;} /* used to counter the default label element margin */
input[type="text"].sheet-dottedline:focus, input[type="number"].sheet-dottedline:focus {
	outline: none;
	line-height: 1em;
}
input[type="text"].sheet-dottedline, input[type="number"].sheet-dottedline {
	border: none;
	border-bottom: 2px dotted #c9c9c9;
	width: 220px;
	margin: 1px;
	line-height: 0px;
}
.sheet-humanityText {width: calc(99% - 6.5em) !important;}
textarea, select, .sheet-uneditable-input {
	margin-bottom: 0px; /* Override default margin */
}
.sheet-skAttrSz {
	width: 7em;
	height: 2.7em;
	
	font-family: sans-serif;
	font-size: .6em;
	
	border: 1px solid black;
	border-radius: 6px;
	margin-bottom: -1px;
}
.sheet-optionsDropdown {
	height: 50%;
	width: 95%;
	
	font-size: .7em;
	line-height: .9em;
	
	border: 1px solid black;
	border-radius: 0px;
	
	box-sizing: content-box;
	padding-bottom: .5em;
}

.sheet-3dig {width: 2.2em !important; min-width: 2.2em !important; padding-right: 0.30em !important;}
.sheet-2dig {width: 2.45em !important; min-width: 1.95em !important; padding: 0em !important;}
.sheet-1dig {width: 1.7em !important; min-with: 1.5em !important; padding: 0em !important;}
.sheet-textEnd {text-align: end; !important;}
input.sheet-specialize {width: 4em;}
/* Hide actual dot/checkbox */
input.sheet-hd[type="radio"],
input.sheet-hd[type="checkbox"],
div.sheet-repeating-container input.sheet-hd[type="radio"],
div.sheet-repeating-container input.sheet-hd[type="checkbox"] {
    /*position: absolute;
    opacity: 0;
    width: 15px;
    cursor: pointer;
    z-index: 1;
    margin-top: 6px; Old Code... A Dead-End.*/

    opacity: 0;
    width: 10px;
    height: 14px;
    position: relative;
    top: 5px;
    left: 4px;
    margin-right: -8px;
    cursor: pointer;
    z-index: 1;
}
div.sheet-griddicepool input.sheet-hd[type="radio"],
div.sheet-griddicepool input.sheet-hd[type="checkbox"] {
	position: unset !important;
}
/* Fake Checkbox */
/* Styles common to fake dot and checkbox */
input.sheet-noshow { display: none !important;}
input.sheet-hd[type="radio"] + span::before,
input.sheet-hd[type="checkbox"] + span::before,
div.sheet-repeating-container input.sheet-hd[type="radio"] + span::before,
div.sheet-repeating-container input.sheet-hd[type="checkbox"] + span::before {
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
	font-style: normal;
	font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}
/* Hides Fake Checkbox above 5dots if option not selected. */
.sheet-610-attr:not(:checked)   ~ input.sheet-show-10d-attr.sheet-hd[type="radio"] + span::before,
.sheet-610-bgs:not(:checked)    ~ input.sheet-show-10d-bgs.sheet-hd[type="radio"] + span::before,
.sheet-610-skills:not(:checked) ~ input.sheet-show-10d-skills.sheet-hd[type="radio"] + span::before,
.sheet-610-spheres:not(:checked)~ input.sheet-show-10d-spheres.sheet-hd[type="radio"] + span::before {
	display: none;
}
.sheet-610-attr:checked ~ .sheet-show-10d-attr.sheet-hd,
.sheet-610-bgs:checked ~ .sheet-show-10d-bgs.sheet-hd,
.sheet-610-skills:checked ~ .sheet-show-10d-skills.sheet-hd,
.sheet-610-spheres:checked ~ .sheet-show-10d-spheres.sheet-hd {
    display: inline;
}

/* Styles unique to fake dot (checked or left of checked) */
input.sheet-hd[type="radio"] + span::before,
div.sheet-repeating-container input.sheet-hd[type="radio"] + span::before
 { 
    content: "•";
    width: 11px;
    height: 12px;
    font-size: 31px;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
input.sheet-square[type="radio"] + span::before,
div.sheet-repeating-container input.sheet-square[type="radio"] + span::before {
	font-family: "Pictos" !important;
    content: "6"; /* Media Button: Stop (a giant square) */
    width: 11px;
    height: 12px;
    font-size: 13px;
	
	-moz-border-radius: 0% !important;
	-webkit-border-radius: 0% !important;
	border-radius: 0% !important;
}
.sheet-H1renownLabel {
    display: block;
    font: 1em RufscriptRegular;
    letter-spacing: .1em;
    width: 95%;
    height: 1.5em !important;
    margin: 1% 2% 5% auto;
    padding: 6px 0 0 0;
    font-weight: bold;
    text-align: center;
    border: 1px solid #000000;
}
.sheet-H1renownLabel::placeholder {
	color: gray;
}
/* Styles unique to fake checkbox (unchecked) */
input.sheet-hd[type="checkbox"] + span::before,
div.sheet-repeating-container input.sheet-hd[type="checkbox"] + span::before {
    position:relative;
    content: "";
    opacity: .25;
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* Styles unique to fake checkbox (checked) */
input.sheet-hd.sheet-zero[type="checkbox"]:checked + span::before,
div.sheet-repeating-container input.sheet-hd.sheet-zero[type="checkbox"]:checked + span::before {
    content: "✖";
    color: #a00;
    
    -moz-box-shadow: 0 0 2px transparent;
    -webkit-box-shadow: 0 0 2px transparent;
    box-shadow: 0 0 2px transparent;
}

/* Remove dot from all radios _after_ selected one */
input.sheet-hd[type="radio"]:checked ~ input.sheet-hd[type="radio"] + span::before,
div.sheet-repeating-container input.sheet-hd[type="radio"]:checked ~ div.sheet-repeating-container input.sheet-hd[type="radio"] + span::before {    
    content: "";
}

input.sheet-hd.sheet-used+span::before,
div.sheet-repeating-container input.sheet-hd.sheet-used+span::before {
    content: "✖";
    width: 12px;
    height: 12px;
    font-size: 12px;
    
    -moz-border-radius: 0%;
    -webkit-border-radius: 0%;
    border-radius: 0%;
}

input.sheet-hd.sheet-zero:checked + span::before,
div.sheet-repeating-container input.sheet-hd.sheet-zero:checked + span::before { 
	opacity: 0;
}
input.sheet-hd.sheet-zero:hover + span::before { opacity: 1;}

input.sheet-hd.sheet-zero + span::before,
div.sheet-repeating-container input.sheet-hd.sheet-zero + span::before
 {
    font-size: 12px;
    content: "✖";
    opacity: 0.25;
}
label {
  font-family: RufscriptRegular;
  line-height: 1.3em;
  margin-bottom: -0.3em;
}
label.sheet-ability-optGroup1 {
	text-align: center;
	font-size: 1em;
	border: 1px solid black;
	padding-top: 2vh;
	padding-left: 1.4vh;
}
label.sheet-ability-optGroup2 {
	text-align: center;
	font-size: 1em;
	border: 1px solid black;
	padding-top: 1.2vh;
	padding-bottom: .1vh;
	padding-left: .4vh;
	padding-right: .4vh;
}
/* Config Section Hidden Checkbox Option Items */
.charsheet .sheet-boldlabel-check:checked + b:not(.sheet-offCase), .charsheet .sheet-condition-exists:checked + label {
    background-color: #4a6486;
	width: 200px;
    color: White;
    border-radius: 10px;
}
.charsheet .sheet-boldlabel-check + b:not(.sheet-offCase), .charsheet .sheet-condition-exists + label, .charsheet .sheet-status-panel  label b {
/* A delicate balance is required to keep a thin line between the options.  Otherwise it becomes hard to see each unique option element */
    display: inline-grid;
	margin: 3px 0;
    padding: 5px 5px 3px 5px;
    font-size: 12px;
	letter-spacing: 1.4px;
    line-height: 2.3vh;
}

/* PRE-NAV Grid Section */
.sheet-PreNav {
	display: grid;
	grid-template-columns: 60px auto 1fr 1fr 1fr 110px;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "Logo splat-selector character player chronicle-name config";
	border: solid 1px black;
}

.sheet-tn-Logo { grid-area: Logo; justify-self: stretch; align-self: center;}

.sheet-tn-splat-selector {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
    "majTemplate"
    "minTemplate";
	grid-area: splat-selector;
	border: solid 1px red;
	
	justify-self: center;
	align-self: center;
}

.sheet-majTemplate {
	grid-area: majTemplate;
}

.sheet-minTemplate {
	grid-area: minTemplate;
}

.sheet-tn-player { 
	grid-area: player; 
	justify-self: center; 
	align-self: center;
}

.sheet-tn-chronicle-name { 
	grid-area: chronicle-name; 
	justify-self: center; 
	align-self: center;
}

.sheet-tn-character {
	grid-area: character; 
	justify-self: center; 
	align-self: center;
}

.sheet-tn-config {
	grid-area: config; 
	justify-self: center; 
	align-self: center;
	border: solid 1px red;
}
.sheet-cfg-select, .sheet-cfg-select-long {
	width: 10em;
	height: 2.7em;
	
	font-family: sans-serif;
	font-size: 0.6em;
	
	border: 1px solid black;
	border-radius: 6px;
	margin-bottom: -1px;
}
.sheet-cfg-select-long {
	width: 20em;
}
/* Section Level Elements */
div.sheet-sectionHeader {
  /* Uses H1 style by default, making h1 tag unnessisary */
  display: block;
  font: 2em RufscriptRegular;

  margin: 0.67em 0em;
  padding: 0.3em 0 0em;
  font-weight: bold;
  text-align: center;

  border: 1px solid #000000;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  background: linear-gradient(180deg, LightGrey 60%, white);
}
div.sheet-sectHeadCntr {
  display: block;
  width: calc(98% - 1em); /* How to make this based on parent width */
  margin-top: -1.4em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background: LightGray;
}
div.sheet-sectHeadCntr ul {
  display: flex;
  list-style-type: none;

  /* Border removed; border details within container DIV */
  margin: -5px;
  padding: 0px;
  background: transparent;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  height: 3.5em;
}
li {
  /* margin: .5em 0em .5em 0em; */
  list-style: none;
}

div.sheet-triColumn, div.sheet-5Column {
  display: flex;
}
div.sheet-columns {
  margin: 0px;
  padding: 0px;

  border: 1px solid black;

  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
div.sheet-columns ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  margin: 0px;
  padding: 0px;
  background: transparent;
}
div.sheet-columns ul li {
	/* possibly change font size to 1.5vh */
  flex: 1;
  border: 1px solid black;
}
ul.sheet-nList { /* Overrides so that it uses the normal list display without bullets or numbers */
	display: initial !important;
	flex-wrap: none !important;
	
	margin: 0px !important;
	padding: 0px !important;
}
.sheet-border { /* Bounding Box for tri-column elements. */
	border: 1px solid black;
	border-bottom: 4px solid black !important;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px
}
li.sheet-dicepool { /* Prevent more than 5 dots per line.                       */
	max-width: 8em; /* 8em is the minimum for chromium browsers.  Firefox requires 9em or it displays poorly. I cannot find a workaround.  */
	min-width: 8em; /* */
}                   /* Unfortunately this causes issues as the min/max with is very specific with this element */
/* Dice section redone as grid */
li.sheet-griddicepool {
    display: grid;
	border: 0px;
    grid-template-columns: repeat(12,auto);
    grid-template-rows: repeat(2,auto);
    gap: 0px; /*gap between columns and rows*/
}

.sheet-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
	border-top: 3px red solid;
}
.sheet-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 0px;
	border-top: 3px red solid;
}
.sheet-grid-2-a39 { /* grid-template-columns: auto 39% */
    display: grid;
    grid-template-columns: auto 39%;
    grid-gap: 3px;
	border-top: 3px red solid;
}
.sheet-grid-3col {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 0px;
	border: 1px black solid;
}
.sheet-gRollLabel  {grid-column: span 2 / auto; border: 1px solid black;}
.sheet-gRollSpec   {grid-column: span 2 / auto; border: 1px solid black;}
.sheet-ghumanity   {grid-column: span 2 / auto;}


.sheet-span-row-2{grid-row: span 2 / auto; border: 1px solid black;}
/* ********************************** End of Grid Code */
li.sheet-aretepool {
	width: 50%;
	margin: 0 auto;
	min-width: 17em;
	max-width: 16em !important;
	/* margin: .2em .5em -0.2em .5em !important; */
}
div.sheet-abilBuffs {
	display: flex;
	border: 1px dotted black;
}
.sheet-hasLabelBelow {
	border-bottom: 0px !important;
}
.sheet-labelForAbove {
	border-top: 0px !important;
	margin: -9px 3px 2px 2px !important;
	padding: 0px !important;
	
	font-family: "RufscriptRegular";
	font-size: .9em;
	text-align: center;
	letter-spacing: 1px;	
}
h1.sheet-columnHeader {
  /* Uses H1 style by default, making h1 tag unnessisary */
  font-size: 1.5em;
  font-family: "RufscriptRegular";

  margin: 0em auto 0.2em auto;
  padding: 0.3em;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  text-align: center;

  border: 1px solid #000000;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  background: linear-gradient(180deg, LightGrey 60%, white);
}
h3.sheet-subHeader {
	display: block;
	font-size: 1.17em;
	margin-top: 0em;
	margin-bottom: -0.43em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
.sheet-btnHeader {
	display: block;
	width: 96% !important;
	font-family: "RufscriptRegular";
	margin-bottom: 1em !important;
	font-weight: bold;
	
	border: solid 1px black;
	border-radius: 5px;
}
.sheet-btnHeader {
	display: block;
	width: 96% !important;
	font-family: "RufscriptRegular";
	margin-bottom: 1em !important;
	font-weight: bold;
	
	border: solid 1px black;
	border-radius: 5px;
}
.sheet-btnTxtRoll {
	display: block;
	/* width property set for each button uniquely. */
	font-family: "RufscriptRegular";
	font-weight: bold;
	line-height: .5em; /* I dont know why this works, but it does */
	border: solid 1px black;
	border-radius: 5px;
}
button[type=roll].sheet-btnHeader::before, button[type=roll].sheet-btnTxtRoll::before {
    content: ' ' !important;
}
.sheet-btnSoakRoll {width: 5em;}
/* Layout Elements */
label.sheet-smlabel {
  text-align: center;
}
label.sheet-poolLabel {
	display: inline;
}
label.sheet-smlabel span,
label.sheet-poolLabel span {
  font-size: 0.7em;
}
span[title] {
  cursor: help;
}
/* Width Elements */

/* Button Styles */
button.sheet-Pictos {
  /* Section Control Buttons */
  font-size: 1em;
  font-family: "Pictos" !important;
  font-weight: bold;

  border-radius: 5px;
  background-color: white;
  text-align: center;
}
/* CSS Buttons (SheetWorkers) */
.sheet-swbutton {
	height: 1em !important;
	width: 1em !important;
	padding: .4em;
	margin-left: 0.4em;
	
	font-family: "Pictos" !important;
	font-size: 1.3em;
	
	border: 1px solid black;
	border-radius: 5px;
}
/* CSS Button Styles (No SheetWorkers) */
.sheet-cssbutton, .sheet-showarrow, .sheet-ack-button,
.sheet-refreshbutton, .sheet-split-column-show, .sheet-lock-show , .sheet-counted {
	opacity: 0; position: relative; top: 0; left: 13px; cursor: pointer; z-index: 5;
}
.sheet-cssbutton,
.sheet-refreshbutton,
.sheet-configbutton {
    margin-right: 15px; /* -1.5rem */
}
input.sheet-cssbutton, input.sheet-showarrow, input.sheet-ack-buttonbutton,
input.sheet-refreshbutton, input.sheet-split-column-show, input.sheet-lock-show , input.sheet-counted {
	height: 1.6em;
}
.sheet-cssbutton + span::before {
    display: inline-block;
    font-size: 1.2em;
	margin-left: -20px;
	padding: .1em;
	font-weight: bold;
    border-radius: 5px;
    border: 1px solid #808080;
	background-color: #FFFFFF;
	color:Black;
	text-align:center;
	font-style:normal !important;
	width: 24px !important;  /* 1.4 rem */
	height: 24px !important; /* 1.4 rem */
	box-sizing: border-box;
}
.sheet-minimize-show:checked ~ .sheet-lock-show + span::before,
.sheet-cssbutton:checked + span::before {
	background-color: #4a6486;
	color: #DDDDDD;
}
.sheet-minimize-show  + span::before,
.sheet-collapse-show + span::before {
	font-family: Arial, Sans-serif !important;
	content: '☐';
}
.sheet-minimize-show:checked + span::before,
.sheet-collapse-show:checked + span::before {
	font-family: "Pictos" !important;
	content: '_';
}
.sheet-help-show + span:before {
	font-family: "Pictos" !important;
	content: "?";
}
.sheet-noexpand + span:before {
	font-family: "Pictos" !important;
	content: ")";
}
.sheet-noexpand:checked + span:before {
	font-family: "Pictos" !important;
	content: "(";
}
.sheet-reset + span:before {
	font-family: "Pictos" !important;
	content: "!";
}
.sheet-reset:checked + span:before {
	font-family: "Pictos" !important;
	content: "!";
}
.sheet-notify + span:before {
	font-family: "Pictos" !important;
	content: "U";
}
.sheet-notify:checked + span:before {
	font-family: "Pictos" !important;
	content: "U";
}
.sheet-rollonly + span:before {
	font-family: "Pictos" !important;
	content: "W";
}
.sheet-rollonly:checked + span:before {
	font-family: "Pictos" !important;
	content: "n";
}
.sheet-fancy + span:before {
	font-family: "Pictos" !important;
	content: "F";
}
.sheet-fancy:checked + span:before {
	font-family: "Pictos" !important;
	content: "P";
}
/* Navigational Buttons and Config Buttons */
/* Show/Hide Content for the selected navigational Tab */
.sheet-core,
.sheet-combat,
.sheet-abilities,
.sheet-advantages,
.sheet-details,
.sheet-biography,
.sheet-config {
	display: none;
}
/* Primary Navigation Tabs */
.sheet-tabstoggle[value="core"] ~ div.sheet-core,
.sheet-tabstoggle[value="combat"] ~ div.sheet-combat,
.sheet-tabstoggle[value="abilities"] ~ div.sheet-abilities,
.sheet-tabstoggle[value="advantages"] ~ div.sheet-advantages,
.sheet-tabstoggle[value="biography"] ~ div.sheet-biography,
.sheet-tabstoggle[value="details"] ~ div.sheet-details,
.sheet-tabstoggle[value="config"] ~ div.sheet-config {
	display: block;
}
/*-------Start of sheet-Query-----------*/
/*
div.sheet-Query {
    position: relative;
    width: 30px;
    height: 20px;
    left:20px;    
    top:5px;
    margin:-15px;
}

input.sheet-Query {
    width: 30px;
    height: 20px;
    position: absolute;
    left:10px;  
    top:0px;
    z-index: 1;
    opacity: 0;
}

span.sheet-Query {
    margin: 10px 0 0 40px;
    display: none;
    position: absolute;
    left:-40px;
    top:-10px;
    width:50px;
    text-align:center;
}

input.sheet-no { 
    z-index: 2; 
}
input.sheet-no:checked + input.sheet-yes,
input.sheet-yes:checked + input.sheet-no {
    z-index: 3; 
}

input.sheet-no:checked ~ span.sheet-no,
input.sheet-yes:checked ~ span.sheet-yes { 
    display: inline-block; 
}*/
button.sheet-button-tab {
  background: #4a6486;
  color: white;
  height: 1.2em;
  cursor: pointer;

  padding: 0.6em 0.3em 0.1em 0.3em;
  white-space: nowrap;
  border-radius: 7px 7px 0px 0px;

  font-family: Arial;
  font-weight: bold;
}

.sheet-collapse-button {
	width: 93%;
	border-radius: 30px;
	font-family: "RufscriptRegular";
	height: 1em;
	font-size: .9em;
	padding-bottom: .2em;
}
.sheet-cfg-button {margin-left: 2.5%}

input[name*="collapse-flag"][value="0"] + .sheet-collapse-details {
    display: none;
}
.sheet-cfg-area {
    margin-left: 3.5%;
	margin-right: 3.5%;
}
div.sheet-flexwrap {display: flex;}

/* Adds show/hide functionality */
div.sheet-race-mage, div.sheet-race-mage-block, div.sheet-race-mage-grid,
div.sheet-race-werewolf, div.sheet-race-werewolf-block, div.sheet-race-werewolf-grid,
div.sheet-race-vampire, div.sheet-race-kueijin, div.sheet-race-vampire-block, div.sheet-race-kueijin-block, div.sheet-race-vampire-grid, div.sheet-race-kueijin-grid,
div.sheet-race-changeling, div.sheet-race-shen, span.sheet-race-shen, div.sheet-race-changeling-block, div.sheet-race-shen-block, div.sheet-race-changeling-grid, div.sheet-race-shen-grid,
div.sheet-race-mummy, div.sheet-race-mummy-block, div.sheet-race-mummy-grid,
div.sheet-race-hunter, div.sheet-race-hunter-block, div.sheet-race-hunter-grid,
div.sheet-race-demon, div.sheet-race-demon-block, div.sheet-race-demon-grid,
div.sheet-race-bygone, div.sheet-race-bygone-block, div.sheet-race-bygone-grid,
input.sheet-show-10d-attr.sheet-hd,
input.sheet-show-10d-bgs.sheet-hd,
input.sheet-show-10d-skills.sheet-hd {
  display: none;
}
/* show/hide as flex */
.sheet-race-type-werewolf:checked ~ div.sheet-race-werewolf,
.sheet-race-type-mage:checked ~ .sheet-race-mage,
.sheet-race-type-vampire:checked ~ div.sheet-race-vampire,
.sheet-race-type-kueijin:checked ~ div.sheet-race-kueijin,
.sheet-race-type-changeling:checked ~ div.sheet-race-changeling,
.sheet-race-type-shen:checked ~ div.sheet-race-shen,
.sheet-race-type-mummy:checked ~ div.sheet-race-mummy,
.sheet-race-type-hunter:checked ~ div.sheet-race-hunter,
.sheet-race-type-demon:checked ~ div.sheet-race-demon,
.sheet-race-type-bygone:checked ~ div.sheet-race-bygone {
    display: flex;
}
/* show/hide as block */
.sheet-race-type-werewolf:checked ~ div.sheet-race-werewolf-block,
.sheet-race-type-mage:checked ~ .sheet-race-mage-block,
.sheet-race-type-vampire:checked ~ div.sheet-race-vampire-block,
.sheet-race-type-kueijin:checked ~ div.sheet-race-kueijin-block,
.sheet-race-type-changeling:checked ~ div.sheet-race-changeling-block,
.sheet-race-type-shen:checked ~ div.sheet-race-shen-block,
.sheet-race-type-mummy:checked ~ div.sheet-race-mummy-block,
.sheet-race-type-hunter:checked ~ div.sheet-race-hunter-block,
.sheet-race-type-demon:checked ~ div.sheet-race-demon-block,
.sheet-race-type-bygone:checked ~ div.sheet-race-bygone-block {
    display: block;
}
/* show/hide as inline */
.sheet-race-type-shen:checked ~ span.sheet-race-shen {display: inline;}
/* show/hide as grid */
.sheet-race-type-werewolf:checked ~ div.sheet-race-werewolf-grid,
.sheet-race-type-mage:checked ~ .sheet-race-mage-grid,
.sheet-race-type-vampire:checked ~ div.sheet-race-vampire-grid,
.sheet-race-type-kueijin:checked ~ div.sheet-race-kueijin-grid,
.sheet-race-type-changeling:checked ~ div.sheet-race-changeling-grid,
.sheet-race-type-shen:checked ~ div.sheet-race-shen-grid,
.sheet-race-type-mummy:checked ~ div.sheet-race-mummy-grid,
.sheet-race-type-hunter:checked ~ div.sheet-race-hunter-grid,
.sheet-race-type-demon:checked ~ div.sheet-race-demon-grid,
.sheet-race-type-bygone:checked ~ div.sheet-race-bygone-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
	border-top: 3px red solid;
}

/* Show/Hide Sections */
.sheet-collapse-show:checked ~ .sheet-collapse-details {
    display: none;
}

/* Table Formatting */
.sheet-table {display: table; width: 100%;}
.sheet-table-name {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
    width: 100%;
}

.sheet-table-row {
    display: table-row;
    vertical-align: bottom;
    width: 100%;    
}

.sheet-tdcs { /*Table Data Center Small*/
    display:table-cell;
    text-align:center;
    font-size: 100%;
    vertical-align: middle;
    position: relative;
	white-space: nowrap;
}
.sheet-tdls { /*Table Data left Small*/
    display:table-cell;
    text-align:left;
    font-size: 100%;
    vertical-align: middle;
    position: relative;
	white-space: nowrap;
}

.sheet-table-cell {
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	padding-left:.125em;
	padding-right:.125em;
	padding-bottom:.125em;
}
.sheet-tcsl {
	display: table-cell;
	vertical-align: middle;
	padding-left: .125em;
	padding-right: .125em;
	padding-bottom: .125em;
	font-size: 85%!important;
	font-style: italic;
	font-weight: bold;
	color: black;
	text-align: center;
	
}
.sheet-tcsl input {
	font-style: normal;	
}

.sheet-header-row {	margin-bottom:.5em;}

.sheet-table-name, .sheet-nontable-name {
	text-align: center;
	font-weight: bold;
	color:White;
	background-color:Black;
	width: 100%;
}

.sheet-table-name {
	display: table-caption;
	caption-side:top;
}

.sheet-nontable-name {
	display: block;
}

h2,h3,h4,h5,h6,
.sheet-table-name,
.sheet-table-header {
	font-family: Arial, sans-serif;
	font-size: 13px; /*BUGGED */
}
input.sheet-bigCheck {
	height: 2em;
	width: 2em;
}
.sheet-table-cell span[title],  .sheet-table-header[title], .sheet-small-label2 span[title] {
	cursor: help;
}
/* Sheet Options Config Table Formatting */
.sheet-options {
	width:98% !important; /* Original Width: 98.6% */
	padding: 2px 0 2px 5px;
	border: 1px solid #808080;
	border-radius: 5px;
	background-color:Gainsboro;
}

.sheet-options.sheet-table.sheet-named {
	border-top-left-radius:0;
	border-top-right-radius:0;
}
.sheet-options.sheet-table.sheet-named .sheet-table-name  {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.sheet-nontable-repeating .sheet-options span {
	margin-right:2em;
	display:inline-block;
}
/* Dimensions and alignment shorthand */
.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align: center;}
.align-justify {text-align: justify;}

.w20p {width: 20%;}
.w25p {width: 25%;}
.w50p {width: 50%;}
.w93p {width: 93%;}

/* Repeating Section Styles */
.charsheet .repcontainer .repitem {
	padding: 0px 5px;
	border-radius: 10px;
	margin: 1px 5px;
	min-width: 20em; /* Prevents contents from clippling through borders */
	background-color: #d3d3d3;
	border: 1px solid black;
}
div.sheet-repeating-container {
	/* border: 1px solid black;     Hidden because it was incorrectly coded
	padding: 0px 5px;
	border-radius: 10px;
	background-color: #d3d3d3; */
	min-width: 20em !important; /* REQUIRED! Without this the rep-container border and background could be compressed more than the fields contained within.  Making it unreadable. */
}
/* Small Label #2 */
.sheet-sml2 {
    display: inline-flex;
    margin: 0em;
	padding: 4px 0px;
	/* Text style for repeating field labels */
	text-align: center;
	font-size: 1em;
	line-height: 1.7em;
	letter-spacing: 1.5px;
}
.charsheet div.sheet-repeating-container input.sheet-hd[type="radio"] {
  display: inline-flex;
}
.charsheet div.sheet-repeating-container input[type="text"] {
  width: unset;
}
.charsheet button.sheet-rep-rbtn { /* Repeating Section Roll Button Style */
    border: 0 solid black; /* Not strictly required, included for style testing */
    width: 70%;
	height: 90%;
    padding: .1em !important;
}
div.sheet-repeating-container ul {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center !important; /* Forces center aligned text for label text */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background: transparent;
}
div.sheet-repeating-container ul li {
    margin: 0.2em;
    padding: 0.2em;
    flex: 1;
    border: 1px solid black;
}

div.sheet-repeating-container li.sheet-dicepool {
	min-width: 18em;
}
div.sheet-repeating-container .sheet-collapse-button {
	width: 93%; /* Interacts with margin-left to create the illusion of centering */
	border-radius: 30px;
	font-family: "RufscriptRegular";
	height: 1em;
	font-size: .7em;
	padding-bottom: .6em;
	margin-left: 2%; /* Interacts with the width to create the illusion of centering */
}
div.sheet-repeating-container div.sheet-abilBuffs {
	display: flex;
	border: 1px dotted black;
	padding: .3em;
	margin-left: 1%;
	width: 97.4%;
}
.sheet-inflex {display: inline-flex;}
.sheet-SkPoolLabel {
	font-family: "RufscriptRegular";
	font-size: .9em;
	padding: revert;
	margin: 0em;
	margin-bottom: -.3em;
}
.sheet-rep-skAttrSz {
    width: auto;
    height: auto;
    font-family: sans-serif;
    font-size: .9em;
    border: 1px solid black;
    border-radius: 6px;
    margin: 0px;
}
/* Togglable Health Levels Code */
/* ------------ Health boxes ------------ */
table.sheet-damagetrack td {
    margin-bottom: 5px;
}
div.sheet-healthbox {
    width: 20px;
    height: 20px;
    position: relative;
    margin-bottom: 10px;
}

input.sheet-healthbox {
    margin: 0 0 0 0;
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
}

span.sheet-healthbox {
    margin:  0 0 0 0;
    display: none;
}

input.sheet-blackdot { 
    z-index: 2; 
}

input.sheet-blackdot:checked + input.sheet-whitedot,
input.sheet-whitedot:checked + input.sheet-bashingdot,
input.sheet-bashingdot:checked + input.sheet-lethaldot,
input.sheet-lethaldot:checked + input.sheet-aggravateddot { 
    z-index: 3; 
}

input.sheet-blackdot:checked ~ span.sheet-blackdot,
input.sheet-whitedot:checked ~ span.sheet-whitedot,
input.sheet-bashingdot:checked ~ span.sheet-bashingdot, 
input.sheet-lethaldot:checked ~ span.sheet-lethaldot,
input.sheet-aggravateddot:checked ~ span.sheet-aggravateddot { 
    display: inline-block; 
}

.sheet-blackdot { /* Height and width reduced by 1px from the healthbox, this is required otherwise it will act strange. */
    width: 19px;
    height: 19px;
    background: black;
    background-size: 100%;
    /*  border-radius: 50%; */
}

.sheet-whitedot {
    width: 15px;
    height: 15px;
    background: white;
    background-size: 100%;
    /*  border-radius: 50%; */
    border:2px solid black;
}

.sheet-bashingdot {
    width: 15px;
    height: 15px;
    background: transparent;
    background-size: 100%;
    /*  border-radius: 50%; */
    border:2px solid black;
    color:black;
}
.sheet-blankdot {opacity: 0;}	/* Blank Dot Style is used as a spacer for 10-dot showhide sections on full-width displays */
.sheet-bashingdot:before {
    font-family: "Candal", fantasy;
    content:"/";
    font-weight: 900;
    font-size: 23px;
    margin-right: 3px;
	line-height: 0.5em;
}

.sheet-lethaldot {
    width: 15px;
    height: 15px;
    background: transparent;
    background-size: 100%;
    /*  border-radius: 50%; */
    border:2px solid black;
    color:black;
}
.sheet-lethaldot:before {
    font-family: "Candal", fantasy;
    content:"X";
    font-weight: 900;
    font-size: 23px;
	line-height: 0.5em;
    margin-left:0px;
}

.sheet-aggravateddot {
    width: 15px;
    height: 15px;
    background: transparent;
    background-size: 100%;
    /*  border-radius: 50%; */
    border:2px solid black;
}
.sheet-aggravateddot:before {
    font-family: "Candal", fantasy;
    content:"X";
    font-weight: 900;
    font-size: 23px;
	line-height: 0.5em;
    color:red;
}
/* Hide actual checkbox */
input.sheet-m20death[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: -2px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Mummy20th death levels checkboxes */
input.sheet-m20death[type="checkbox"] + span::before {
    content: "";
	font-weight: normal;
	font-size: 23px;
	width: 15px;
    height: 15px;
    background: transparent;
    background-size: 100%;
	    border:2px solid black;
		display: inline-block;
}
input.sheet-m20death[type="checkbox"]:checked + span::before {
    content: "X";
	font-weight: 900;
	font-size: 23px;
	width: 15px;
    background: transparent;
    background-size: 100%;
    color:black;
	    border:2px solid black;
		display: inline-block
}
/* Shapeshifting Forms and related Styles */
.sheet-shapeshiftForms {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 0.2fr 3.3fr 0.3fr;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
    "creatureName creatureName creatureName creatureName creatureName"
    "humanoid-label nearHuman-label warform-label nearBeast-label beast-label"
    "humanoid-details nearHuman-details warform-details nearBeast-details beast-details"
    "humanoid-buttons nearHuman-buttons warform-buttons nearBeast-buttons beast-buttons";
	border: solid 1px black;
	
}

.sheet-creatureName {
	grid-area: creatureName;
	border: solid 1px black;
	border-bottom: none;
}
.sheet-humanoid-label {
	grid-area: humanoid-label;
	border: solid 1px black;
}
.sheet-nearHuman-label {
	grid-area: nearHuman-label;
	border: solid 1px black;
}
.sheet-warform-label {
	grid-area: warform-label;
	border: solid 1px black;
}
.sheet-nearBeast-label {
	grid-area: nearBeast-label;
	border: solid 1px black;
}
.sheet-beast-label {
	grid-area: beast-label;
	border: solid 1px black;
}
.sheet-humanoid-details {
	grid-area: humanoid-details;
	border: solid 1px black;
}
.sheet-nearHuman-details {
	grid-area: nearHuman-details;
	border: solid 1px black;
}
.sheet-warform-details {
	grid-area: warform-details;
	border: solid 1px black;
}
.sheet-nearBeast-details {
	grid-area: nearBeast-details;
	border: solid 1px black;
}
.sheet-beast-details {
	grid-area: beast-details;
	border: solid 1px black;
}
.sheet-details-selected {
	background: #FFFFFF;
	background: -webkit-radial-gradient(ellipse farthest-corner at center center, #FFFFFF 0%, #AB0606 100%);
	background: -moz-radial-gradient(ellipse farthest-corner at center center, #FFFFFF 0%, #AB0606 100%);
	background: radial-gradient(ellipse farthest-corner at center center, #FFFFFF 0%, #AB0606 100%);

}
.sheet-humanoid-buttons {
	grid-area: humanoid-buttons;
	text-align: center;
	border: solid 1px black;
}
.sheet-nearHuman-buttons {
	grid-area: nearHuman-buttons;
	text-align: center;
	border: solid 1px black;
}
.sheet-warform-buttons {
	grid-area: warform-buttons;
	text-align: center;
	border: solid 1px black;
}
.sheet-nearBeast-buttons {
	grid-area: nearBeast-buttons;
	text-align: center;
	border: solid 1px black;
}
.sheet-beast-buttons {
	grid-area: beast-buttons;
	text-align: center;
	border: solid 1px black;
}
.sheet-formbutton {
	height: 1em !important;
	padding: .4em;
	
	font-size: 1.3em;
	
	border: 1px solid black;
	border-radius: 5px;
}
/* Weapons, attacks and Armor */

.sheet-weapon-details {
  display: grid;
  grid-template-columns: auto 16em 3.5em 10em 5em 3.5em 3.5em 4em;
  grid-template-rows   : repeat(10, auto);
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas:
    "weapon-header weapon-header weapon-header weapon-header weapon-header weapon-header weapon-header weapon-header"
	"name-header roll-header diff-header dmg-header rng-header rate-header clip-header conceal-header"
	". . . . . . . ." /* For the Generic Do not Fill in area names */
	". . . . . . . ."
	". . . . . . . ."
	". . . . . . . ."
	". . . . . . . ."
	". . . . . . . ."
    "w1-name w1-roll w1-diff w1-dmg w1-rng w1-rate w1-clip w1-conceal"
    "w2-name w2-roll w2-diff w2-dmg w2-rng w2-rate w2-clip w2-conceal"
    "w3-name w3-roll w3-diff w3-dmg w3-rng w3-rate w3-clip w3-conceal"
    "w4-name w4-roll w4-diff w4-dmg w4-rng w4-rate w4-clip w4-conceal"
    "w5-name w5-roll w5-diff w5-dmg w5-rng w5-rate w5-clip w5-conceal"
    "w6-name w6-roll w6-diff w6-dmg w6-rng w6-rate w6-clip w6-conceal"
    "weapon-repeating weapon-repeating weapon-repeating weapon-repeating weapon-repeating weapon-repeating weapon-repeating weapon-repeating";
	border: solid 1px black;
}
.sheet-attr-select {width: 5.6em; height: 3.5vh; font-family: sans-serif; font-size: 1.3vh; border: 1px solid black; border-radius: 6px; margin-bottom: -1px; }
/* Borders ==============================*/
.sheet-border-even {border: solid 1px black; background-color: lightgray}
.sheet-border-odd  {border: solid 1px black;}

.sheet-name-header {grid-area: name-header; font-family: "RufscriptRegular"; text-align: center;}
.sheet-w-name {}
.sheet-w1-name { grid-area: w1-name; }
.sheet-w2-name { grid-area: w2-name; }
.sheet-w3-name { grid-area: w3-name; }
.sheet-w4-name { grid-area: w4-name; }
.sheet-w5-name { grid-area: w5-name; }
.sheet-w6-name { grid-area: w6-name; }

.sheet-roll-header {grid-area: roll-header; font-family: "RufscriptRegular"; text-align: center;}
.sheet-w-roll {}
.sheet-w1-roll { grid-area: w1-roll; }
.sheet-w2-roll { grid-area: w2-roll; }
.sheet-w3-roll { grid-area: w3-roll; }
.sheet-w4-roll { grid-area: w4-roll; }
.sheet-w5-roll { grid-area: w5-roll; }
.sheet-w6-roll { grid-area: w6-roll; }

.sheet-diff-header {grid-area: diff-header; font-family: "RufscriptRegular"; text-align: center;}
.sheet-w-diff { }
.sheet-w1-diff { grid-area: w1-diff; }
.sheet-w2-diff { grid-area: w2-diff; }
.sheet-w3-diff { grid-area: w3-diff; }
.sheet-w4-diff { grid-area: w4-diff; }
.sheet-w5-diff { grid-area: w5-diff; }
.sheet-w6-diff { grid-area: w6-diff; }

.sheet-dmg-header {grid-area: dmg-header; font-family: "RufscriptRegular"; text-align: center;}
.sheet-w-dmg {}
.sheet-w1-dmg { grid-area: w1-dmg; }
.sheet-w2-dmg { grid-area: w2-dmg; }
.sheet-w3-dmg { grid-area: w3-dmg; }
.sheet-w4-dmg { grid-area: w4-dmg; }
.sheet-w5-dmg { grid-area: w5-dmg; }
.sheet-w6-dmg { grid-area: w6-dmg; }

.sheet-rng-header {grid-area: rng-header; font-family: "RufscriptRegular"; text-align: center;}
.shee-w-range {}
.sheet-w1-rng { grid-area: w1-rng; }
.sheet-w2-rng { grid-area: w2-rng; }
.sheet-w3-rng { grid-area: w3-rng; }
.sheet-w4-rng { grid-area: w4-rng; }
.sheet-w5-rng { grid-area: w5-rng; }
.sheet-w6-rng { grid-area: w6-rng; }

.sheet-rate-header {grid-area: rate-header; font-family: "RufscriptRegular"; text-align: center;}
.sheet-w1-rate {}
.sheet-w1-rate { grid-area: w1-rate; }
.sheet-w2-rate { grid-area: w2-rate; }
.sheet-w3-rate { grid-area: w3-rate; }
.sheet-w4-rate { grid-area: w4-rate; }
.sheet-w5-rate { grid-area: w5-rate; }
.sheet-w6-rate { grid-area: w6-rate; }

.sheet-clip-header {grid-area: clip-header; font-family: "RufscriptRegular"; text-align: center;}
.sheet-w-clip {}
.sheet-w1-clip { grid-area: w1-clip; }
.sheet-w2-clip { grid-area: w2-clip; }
.sheet-w3-clip { grid-area: w3-clip; }
.sheet-w4-clip { grid-area: w4-clip; }
.sheet-w5-clip { grid-area: w5-clip; }
.sheet-w6-clip { grid-area: w6-clip; }

.sheet-conceal-header {grid-area: conceal-header; font-family: "RufscriptRegular"; text-align: center;}
.sheet-1-conceal {}
.sheet-w1-conceal { grid-area: w1-conceal; }
.sheet-w2-conceal { grid-area: w2-conceal; }
.sheet-w3-conceal { grid-area: w3-conceal; }
.sheet-w4-conceal { grid-area: w4-conceal; }
.sheet-w5-conceal { grid-area: w5-conceal; }
.sheet-w6-conceal { grid-area: w6-conceal; }


.sheet-weapon-repeating {grid-area: weapon-repeating; border: solid 1px black;}
.sheet-weapon-header {justify-self: stretch; align-self: stretch; text-align: center; grid-area: weapon-header; border: solid 1px black; font-size: 1.17em;	font-weight: bold; font-family: "RufscriptRegular";}

/* ====================== Soak Area ========================= */
.sheet-soak {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
}

.sheet-header { grid-area: 1 / 1 / 2 / 6; }
.sheet-bashing-button { grid-area: 3 / 1 / 4 / 2; }
.sheet-lethal-button { grid-area: 4 / 1 / 5 / 2; }
.sheet-agg-button { grid-area: 5 / 1 / 6 / 2; }
.sheet-armorOnly-button { grid-area: 6 / 1 / 7 / 2; }



/* ======================== ROLL TEMPLATE STYLES ====================== */
/* Advanced Attacks Roll Template */

.sheet-rolltemplate-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr auto;
	grid-template-rows: auto auto auto auto auto auto auto auto;
	gap: 1px 1px;
	grid-auto-flow: row;
	grid-template-areas:
		"header header header header"
		"spheres spheres spheres spheres"
		"initiative initiative initiative initiative"
		"pool pool threshold difficulty"
		"pool-1 pool-2 target-roll target-roll"
		"specialty specialty specialty specialty"
		"result result result result"
		"notes notes notes notes"
		"buttons buttons buttons buttons";		
	background:url(http://i.imgur.com/BLb0XMU.jpg) top left repeat;
	border: solid 1px #7e2d40;
    border-radius: 5px;
}
.sheet-rolltemplate-arete-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr auto;
	grid-template-rows: auto auto auto auto auto auto auto auto;
	gap: 1px 1px;
	grid-auto-flow: row;
	grid-template-areas:
		"header header header header"
		"spheres spheres spheres spheres"
		"initiative initiative initiative initiative"
		"pool pool threshold difficulty"
		"pool-1 pool-2 target-roll target-roll"
		"specialty specialty specialty specialty"
		"result result result result"
		"notes notes notes notes"
		"buttons buttons buttons buttons";		
	background:url(http://i.imgur.com/BLb0XMU.jpg) top left repeat;
	border: solid 1px #7e2d40;
    border-radius: 5px;
}
.sheet-rolltemplate-wrapper .sheet-header     { grid-area: header; border: solid 1px #7e2d40; color: rgb(126, 45, 64); text-align: left; font-family: "RufscriptRegular"; font-size: 1.2em;padding-top:.2em; font-variant: small-caps; }


.sheet-rolltemplate-wrapper .sheet-pool       { grid-area: pool; border: solid 1px #7e2d40; }


.sheet-rolltemplate-wrapper .sheet-threshold  { grid-area: threshold; border: solid 1px #7e2d40; }


.sheet-rolltemplate-wrapper .sheet-difficulty { grid-area: difficulty; border: solid 1px #7e2d40; }


.sheet-rolltemplate-wrapper .sheet-pool-1     { grid-area: pool-1; border: solid 1px #7e2d40; }


.sheet-rolltemplate-wrapper .sheet-pool-2     { grid-area: pool-2; border: solid 1px #7e2d40; }


.sheet-rolltemplate-wrapper .sheet-bonus      { grid-area: bonus; border: solid 1px #7e2d40; }


.sheet-rolltemplate-wrapper .sheet-specialty  { grid-area: specialty; border: solid 1px #7e2d40; }


.sheet-rolltemplate-wrapper .sheet-result     { grid-area: result; border: solid 1px #7e2d40; }


.sheet-rolltemplate-wrapper .sheet-initiative { grid-area: initiative; border: solid 1px #7e2d40; }





.sheet-rolltemplate-wrapper .sheet-spheres { grid-area: spheres; border: solid 1px #7e2d40; }

.sheet-rolltemplate-wrapper .sheet-header { grid-area: header; border: solid 1px #7e2d40; }

.sheet-rolltemplate-wrapper .sheet-target-roll { grid-area: target-roll; border: solid 1px #7e2d40; }

.sheet-rolltemplate-wrapper .sheet-focus { grid-area: focus; border: solid 1px #7e2d40;  }

.sheet-rolltemplate-wrapper .sheet-consequences { grid-area: consequences; border: solid 1px #7e2d40; }

.sheet-rolltemplate-wrapper .sheet-notes { grid-area: notes; border: solid 1px #7e2d40; }

.sheet-rolltemplate-wrapper .sheet-buttons { grid-area: buttons; border: solid 1px #7e2d40; }







.sheet-rt-GenericRolls .sheet-wrapper {

}
.sheet-rolltemplate-GenericRolls table {
    width: 100%;
    padding: 2px;
}
.sheet-rt-GenericRolls .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}
.sheet-rt-GenericRolls .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 180px solid rgb(126, 45, 64);
}
.sheet-rt-GenericRolls .sheet-tcat {
    font-weight: bold;
	font-size: 0.7em;
}
.sheet-rt-GenericRolls td {
    padding-left: 1px;
	line-height: 0.8em;
}
/* Default Color for inline rolls */
.sheet-rt-GenericRolls  .inlinerollresult {
    background-color: transparent;
    border: none;
	padding: 0px; /* Trims unneeded whitespace */
	font-size: 0.9em;
}
.sheet-rt-GenericRolls .inlinerollresult.fullcrit {
    background-color: transparent;
    color: #3FB315;
    border: none;
	padding: 0px; /* Trims unneeded whitespace */
}
.sheet-rt-GenericRolls .inlinerollresult.fullfail {
    background-color: transparent;
    color: #B31515;
    border: none;
	padding: 0px; /* Trims unneeded whitespace */
}
.sheet-rt-GenericRolls .inlinerollresult.importantroll {
    background-color: transparent;
    color: #4A57ED;
    border: none;
	padding: 0px; /* Trims unneeded whitespace */
}